<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_terrain_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{190,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,108}</string>
                <key>textureRect</key>
                <string>{{297,129},{190,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,8}</string>
                <key>spriteSourceSize</key>
                <string>{88,8}</string>
                <key>textureRect</key>
                <string>{{489,129},{88,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildbar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,16}</string>
                <key>spriteSourceSize</key>
                <string>{96,16}</string>
                <key>textureRect</key>
                <string>{{465,235},{96,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gui_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,296}</string>
                <key>spriteSourceSize</key>
                <string>{296,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits_sc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{92,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{345,695},{92,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits_towers_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{411,501},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portraits_towers_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{129,711},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portraits_towers_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{201,711},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portraits_towers_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{273,711},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>range_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,276}</string>
                <key>spriteSourceSize</key>
                <string>{276,276}</string>
                <key>textureRect</key>
                <string>{{1,299},{276,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>special_icons_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,108}</string>
                <key>textureRect</key>
                <string>{{275,577},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>special_icons_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,108}</string>
                <key>textureRect</key>
                <string>{{393,577},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tower_constructing_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-49}</string>
                <key>spriteSize</key>
                <string>{132,86}</string>
                <key>spriteSourceSize</key>
                <string>{204,192}</string>
                <key>textureRect</key>
                <string>{{187,577},{132,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tower_constructing_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-45}</string>
                <key>spriteSize</key>
                <string>{132,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,180}</string>
                <key>textureRect</key>
                <string>{{435,361},{132,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tower_constructing_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{126,72}</string>
                <key>spriteSourceSize</key>
                <string>{188,152}</string>
                <key>textureRect</key>
                <string>{{1,705},{126,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_constructing_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-43}</string>
                <key>spriteSize</key>
                <string>{130,74}</string>
                <key>spriteSourceSize</key>
                <string>{216,180}</string>
                <key>textureRect</key>
                <string>{{279,501},{130,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_preview_archer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-20}</string>
                <key>spriteSize</key>
                <string>{184,126}</string>
                <key>spriteSourceSize</key>
                <string>{212,180}</string>
                <key>textureRect</key>
                <string>{{1,577},{184,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_preview_artillery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{200,126}</string>
                <key>spriteSourceSize</key>
                <string>{204,192}</string>
                <key>textureRect</key>
                <string>{{297,1},{200,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_preview_barrack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-23}</string>
                <key>spriteSize</key>
                <string>{166,124}</string>
                <key>spriteSourceSize</key>
                <string>{216,180}</string>
                <key>textureRect</key>
                <string>{{297,235},{166,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_preview_mage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{188,152}</string>
                <key>textureRect</key>
                <string>{{279,361},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{502,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e61528bcca672b560dc8aa41d60f984:964886dd8006e065605826e519f66f73:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
